.path {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}
body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

.crosshair {
   stroke: #000;
   shape-rendering: crispEdges;
}

#tooltip {
   fill: black;
   font-size: 15px;
   visibility: hidden;
}

.overlay {
  fill: none;
  pointer-events: all;
}